body{
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
 background-size: cover;
 background-size: 100vw 100vh;
  color: #ffff;
}
.card1{
  background-color:#28515e;
  position: absolute;
    right: 149px;
    padding-left: 32px;
    padding-top: 20px;
}
.card1>img{
  width: 12%;
}
.verticle{
  border-left: 1px solid white;
  height: 83px;
  position: absolute;
  right: 261px;
  top: 48vh;
}
.logo{
  display: flex;
  position: relative;
    left: 2%;
    top: 1vh;
    font-size: 26px;
}
.list i{
  display:flex;
}
.list{
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 72px;
  position: relative;
    top: -14vh;
}
.list i{
position: absolute;
    top: 3%;
    align-items: center;
    left: 36%;
}
.phone_number{
  position: absolute;
  right: 2%;
  top: 0;
}
.phone_number > img{
  position: absolute;
  right: 19vh;
  top: 3vh;
}
.call > h3{
position: relative;
    top: 20px;
}
.call> h4 {
  position: relative;
      top: 2px;
  }
  
hr{
  position: relative;
  top: -9vh;

} 
.card{
background:#28515e;
    position: absolute;
    right: 22%;
    bottom: 15%;
    padding-left: 33px;
    padding-top: 20px;
}
.card > img{
  width:15%;

}
.interior{
font-size: 76px;
    overflow-wrap: break-word;
    word-break: break-word;
    width: 43%;
    position: absolute;
    left: 10%;
    top: 20%;
}
.btn{
position: absolute;
    bottom: 28%;
    left: 9%;
    padding: 19px 56px 16px;
    /* border-block-color: white; */
    border-color: #fff;
    background: transparent;
    color: wheat;
    border-radius: 5vh;
    font-size: 23px;
}
.puzzle{
  width: 21%;
    height: 49px;
    border-radius: 10vh;
    display: flex;
    align-content: space-around;
    padding: 9px;
}
.puzzle>img{
  width: 77%;
    height: 76%;
}
.we{font-size: 17px;
    width: 60%;
    word-break: break-word;
}
.bulb-img{
  width: 94% !important;
    height: 124% !important;
}
#horizontal
{
  margin-right: 0;
  width: 10vh;
  position: relative;
  top: 46vh;
  right: 36vh;
}
.dot{
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 0;
}
.first{
  right: 255px;
  top: 59vh;
}
.second{
  right: 36vh;
  bottom: 23vh;
}
@media screen and (max-width:1000px) {
  }

  
